apiVersion: v1
kind: Service
metadata:
  name: {{ template "pvc-chonker.fullname" . }}-controller
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "pvc-chonker.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 8080
      targetPort: metrics
      protocol: TCP
    - name: health
      port: 8081
      targetPort: health
      protocol: TCP
  selector:
    {{- include "pvc-chonker.selectorLabels" . | nindent 4 }}