{{- if and .Values.webhook.enabled (not .Values.webhook.certManager) }}
{{- $serviceName := printf "%s-webhook-service" (include "pvc-chonker.fullname" .) }}
{{- $secretName := printf "%s-webhook-server-cert" (include "pvc-chonker.fullname" .) }}
{{- $ca := genCA "pvc-chonker-ca" 365 }}
{{- $cert := genSignedCert $serviceName nil (list (printf "%s.%s.svc" $serviceName .Release.Namespace) (printf "%s.%s.svc.cluster.local" $serviceName .Release.Namespace)) 365 $ca }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "pvc-chonker.labels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: {{ $cert.Cert | b64enc }}
  tls.key: {{ $cert.Key | b64enc }}
  ca.crt: {{ $ca.Cert | b64enc }}
{{- end }}