apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "konductor.fullname" . }}-controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "konductor.labels" . | nindent 4 }}
    app.kubernetes.io/component: manager
  {{- if .Values.controller.annotations}}
  annotations:
    {{- toYaml .Values.controller.annotations | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "konductor.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: manager
  replicas: {{ .Values.controller.replicas }}
  template:
    metadata:
      labels:
        {{- include "konductor.labels" . | nindent 8 }}
        app.kubernetes.io/component: manager
        {{- with .Values.controller.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- if .Values.controller.podAnnotations}}
      annotations:
        {{- toYaml .Values.controller.podAnnotations | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ template "konductor.fullname" . }}-controller-manager
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.controller.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ . }}
      {{- end }}
      containers:
        - name: manager
          command:
            - /manager
          args:
            - --metrics-bind-address={{ .Values.controller.args.metricsBindAddress }}
            - --health-probe-bind-address={{ .Values.controller.args.healthProbeBindAddress }}
            - --log-level={{ .Values.controller.args.logLevel }}
            - --leader-elect={{ .Values.controller.args.leaderElect }}
          {{- with .Values.controller.args.additionalArgs -}}
            {{ toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          {{- with .Values.image.pullPolicy }}
          imagePullPolicy: {{ . }}
          {{- end }}
          {{- with .Values.controller.resources }}
          resources: {{ toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: metrics
              containerPort: 8080
              protocol: TCP
            - name: health
              containerPort: 8081
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /readyz
              port: health
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: health
            initialDelaySeconds: 15
            periodSeconds: 20
          securityContext:
            {{- toYaml .Values.controller.securityContext | nindent 12 }}
    {{- with .Values.controller.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.controller.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.controller.podSecurityContext | nindent 8 }}
    {{- with .Values.controller.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.controller.priorityClassName }}
      priorityClassName: {{ . }}
    {{- end }}